<mat-toolbar class="header mat-elevation-z1">
    <span class="dropdown">
        <button class="dropbtn">Cursos</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </span>
    <span class="container-brand">
        <h1 class="brand"><a routerLink="">AVA-ForBrain</a></h1>

    </span>
    <span class="links">
        <a routerLink="pages/login">
            Entrar
        </a>
        <a routerLink="pages/register">
            cadastre-se
        </a>
    </span>
</mat-toolbar>