<mat-toolbar class="header mat-elevation-z1">
    <!-- ------------------------------- trabalhe no botao aqui -->

    
    <span class="dropdown">
        <button class="dropbtn">Cursos</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </span>
    <!-- ------------------------------- -->
    <span class="container-brand">
        <img class="logo" src="../assets/images/logo c.png">
        <a routerLink="" class="brand"><strong class="color">AVA</strong>-ForBrain</a>

    </span>
    <span class="links">
        <a routerLink="login-page">
            Entrar
        </a>
        <a routerLink="register-page">
            cadastre-se
        </a>
    </span>


</mat-toolbar>