.container{
    display: flexbox;
}
.fundo1{
    display:flex;


}
.fundo1 img{
    max-width: 1920px;
    min-width: 500px;
}

.fundo1 .container-input-phrase{
    margin-top: 100px;
    max-width: 1920px;
    min-width: 100%;
    position: absolute;
    text-align: left;
}
.fundo1 .container-input-phrase .itens-initial{
    display: flexbox;
    margin-right: 150px;
    float: right;
}
.fundo1 .container-input-phrase .itens-initial h1{
    font-size: 50px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(236, 236, 236);
}
.fundo1 .container-input-phrase .itens-initial p{
    margin-left: 5px;
    color:black;
}

.btn-int {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3e5fe6;
    padding: 7px 20px 7px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
  .btn-int:hover {
    background: #3e5fe6;
    background-image: -webkit-linear-gradient(top, #3e5fe6, #3790cc);
    background-image: -moz-linear-gradient(top, #3e5fe6, #3790cc);
    background-image: -ms-linear-gradient(top, #3e5fe6, #3790cc);
    background-image: -o-linear-gradient(top, #3e5fe6, #3790cc);
    background-image: linear-gradient(to bottom, #3e5fe6, #3790cc);
    text-decoration: none;
  }

.c-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.c-btn i{
    color: #3e5fe6;
    
}
.c-bellow{
    margin-top: 450px;
    max-width: 1920px;
    min-width: 100%;
    position: absolute;
    text-align: center;
    justify-content: center;
}
