
<body class="container-login">

    <div class="content-login">
        <div class="button">
            <button class="btn-student" id="btn-student" (click)="changeStudent()" routerLink="Form-student" routerLinkActive="active" >aluno</button>
            <button class="btn-teacher" id="btn-teacher" (click)="changeTeacher()" routerLink="Form-teacher" routerLinkActive="active">professor</button>
        </div>
        <div class="block">
            <div class="brand">
                <img src="/assets/images/logo c.png" alt="">
                <h1><strong>AVA</strong>-ForBrain</h1>
            </div>
            <div class="container-form">
                <h5>{{ titulo }}</h5>
                <router-outlet></router-outlet>
                <!-- <div *ngIf="actStudent;"><app-form-student></app-form-student></div>
                <div *ngIf="actTeacher;"><app-form-teacher></app-form-teacher></div> -->
            </div>
        </div>
    </div>
</body>
