<span class="container-initial">

    <span class="fundo1">
        <img src="../assets/images/fundo1.jpg" alt="">

        <span class="container-input-phrase">
            <div class="itens-initial">
                <h1>Bem vindo</h1>
                <p>É tão bom recebê-los de volta, queridos alunos, <br>
                    e dar as boas-vindas aos novos rostos que estão chegando. <br>
                    Estamos de braços abertos para o início de um novo ano letivo. <br>
                    Que seja um momento de muita felicidade para vocês, <br>
                    que possam rever os velhos amigos e criar novos laços. <br>
                    Sejam bem-vindos a segunda cada se vocês.</p>
                <button class="btn-int">Saiba mais</button>
            </div>

        </span>
        <!-- <div class="c-bellow">
            <div class="c-btn">
                <div class="circle">
                    <a href="#"><i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div> -->
    </span>

    <span class="container-about">
        <div class="title">
            <i class="fas fa-file-code fa-4x"></i>
            <h1>Sobre o Projeto</h1>
        </div>
        <div class="content-about">
            <p>&nbsp;Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript
                liderado pela Equipe Angular <br>
                do Google e por uma comunidade de indivíduos e corporações. Angular é uma reescrita completa do
                AngularJS, feito pela mesma equipe <br>
                que o construiu.</p>
            <p>&nbsp;Angular é uma plataforma e framework para construção da interface de aplicações usando HTML, CSS e,
                principalmente, JavaScript, <br>
                criada pelos desenvolvedores da Google.</p>
            <p>&nbsp;Ele possui alguns elementos básicos que tornam essa construção interessante. <br>
                Dentre os principais, podemos destacar os componentes, templates, diretivas, roteamento, módulos,
                serviços, injeção de dependências e <br>
                ferramentas de infraestrutura que automatizam tarefas, como a de executar os testes unitários de uma
                aplicação.</p>
            <p>&nbsp;Angular nos ajuda a criar Single-Page Applications com uma qualidade e produtividade surpeendente!
            </p>
            <p>&nbsp;Alguns outros pontos dessa plataforma que merecem destaque são o fato de que ela é open source,
                possui uma grande comunidade, existem <br>
                várias empresas utilizando e tem muito material de estudo para quem deseja se aperfeiçoar.</p>
        </div>
    </span>

    <span class="container-about-us">
        <div class="container-members">
            <div class="members">
                <div class="name-members">
                    <div class="name">
                        <img src="../assets/images/mem01.png" alt="">
                        <h2>Atylla Macedo Alves Cruz</h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                    <div class="name">
                        <img src="../assets/images/mem02.png" alt="">
                        <h2>Yuri Zanini</h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                    <div class="name">
                        <img src="../assets/images/mem03.png" alt="">
                        <h2>Eudy Cavalcante do Amparo </h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                    <div class="name">
                        <img src="../assets/images/mem04.png" alt="">
                        <h2>Nathan Soares Silva</h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                </div>
            </div>
            <div class="container-service">
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>

            </div>
            <div>
                teste
            </div>
        </div>
    </span>

</span>