<span class="container-initial">

    <span class="fundo1">
        <img src="../assets/images/fundo1.jpg" alt="">

        <span class="container-input-phrase">
            <div class="itens-initial">
                <h1>E ai! <br>
                    Vamos exercitar o cérebro? <br>
                </h1>
                <p>No AVA-ForBrain você tem tranquilidade e conforto para aprender. <br>
                    Nossa ferramenta foi pensada para que alunos e professores possam <br>
                    estudar e trabalhar sem se atrapalhar com a plataforma. <br>
                    </p>
                    
                <button class="btn-int">Saiba mais</button>
            </div>

        </span>
        <!-- <div class="c-bellow">
            <div class="c-btn">
                <div class="circle">
                    <a href="#"><i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div> -->
    </span>

    <span class="container-about">
        <div class="title">
            <i class="fas fa-file-code fa-4x"></i>
            <h1>Sobre o Projeto</h1>
        </div>
        <div class="content-about">
            <p>&nbsp;Nossa plataforma surgiu de um projeto de faculdade, a princípio, a ideia era criar um ambiente de estudos
                que fosse o mais fácil possível <br>
                de entender, como alunos, sabemos que algumas plataformas de aprendizagem acabam sendo um pouco enroladas
                na hora de passar algumas informações. <br>
            </p>

            <p>&nbsp;Foi por isso que decidimos criar o nosso próprio AVA, já sabemos de alguns dos problemas que dificultam 
                nosso caminho nos estudos, <br>
                e estamos procurando eliminar eles nessa plataforma. Coisas como, demonstrativo de notas, aulas gravadas 
                que não podem ser acessadas, <br>
                informações desnecessárias amontoadas, e é claro, a segurança do sistema. Estamos tirando tudo isso para
                tornar o nosso ambiente de <br>
                ensino mais confortável, não só para nós alunos, mas para os professores também. </p>

            <p>&nbsp;É um projeto simples, mas acreditamos no potencial que a nossa ferramenta vai oferecer a todo tipo de usuário.</p>

        </div>
    </span>

    <span class="container-about-us">
        <div class="container-members">
            <div class="members">
                <div class="name-members">
                    <div class="name">
                        <img src="../assets/images/mem01.png" alt="">
                        <h2>Atylla Macedo Alves Cruz</h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                    <div class="name">
                        <img src="../assets/images/mem02.png" alt="">
                        <h2>Yuri Zanini</h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                    <div class="name">
                        <img src="../assets/images/mem03.png" alt="">
                        <h2>Eudy Cavalcante do Amparo </h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                    <div class="name">
                        <img src="../assets/images/mem04.png" alt="">
                        <h2>Nathan Soares Silva</h2>
                        <p><i class="fas fa-file-code"></i>| Desenvolvedor Fullstack |</p>
                    </div>
                </div>
            </div>
            <div class="container-service">
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>
                <div class="block-content">
                    <i class="fas fa-camera-retro fa-2x"></i>
                    <h4>Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod tempor<br>
                        incididunt ut labore et dolore magna</p>
                </div>

            </div>
            <div>
                teste
            </div>
        </div>
    </span>

</span>