<span class="container-register">


    <div class="title"> Criar Conta</div>
    <div class="subtitle">
        Já tem uma conta?
        <a routerLink="register-page">
            Login
        </a>
    </div>

    <span class="container-content">
        <div class="block">
            <div class="conteudo">
                <div class="name">
                    <input type="text" id="nome" name="" value="" placeholder="Nome e Sobrenome"><br>
                </div>  
                <div class="email">
                    <input type="text" id="email" name="" value="" placeholder="E-mail"><br>
                </div>
                <div class="password">
                    <input type="text" id="senha" name="" value="" placeholder="Senha"><br>
                </div>
                <div class="c-password">
                    <input type="text" id="c/senha" name="" value="" placeholder="Confirme sua senha"><br>
                </div>

                <div>   
                        <div class="form-group">
                            <label for="days">
                                Data de Nacimento:
                            </label>
                            <select id="day" name="day"
                                    [(ngModel)]="days" class="form-control">
                                <option *ngFor="let day of days" [value]="day.id">
                                    {{day.name}}
                                </option>
                        
                            </select>

                            <select id="month" name="month"
                                    [(ngModel)]="months" class="form-control">
                                <option *ngFor="let month of months" [value]="month.id">
                                    {{month.name}}
                                </option>
                        
                            </select>

                            <select id="year" name="year"
                                    [(ngModel)]="years" class="form-control">
                                <option *ngFor="let year of years" [value]="year.id">
                                    {{year.name}}
                                </option>
                        
                            </select>

                        </div>

                    <div>
                        <label>Gênero:</label>
                            <div class="checkbox">
                                <input type="checkbox" id="male" class="checkbox"> <h1>Masculino</h1><br>
                                <input type="checkbox" id="female" class="checkbox"> <h1>Feminino</h1><br>
                                <input type="checkbox" id="other" class="checkbox"> <h1>Outro</h1><br>
                            </div>
                    </div>

                    <div class="button">
                        <button  type="submit" class="btn">Cadastre-se</button>
                    </div>

                </div>
            </div>
        </div>

    </span>

   <div class="write" style="display: flex; margin-top: 5px;">
        <div style="background-color: rgb(75, 75, 75); width: 90px; height: 1px; margin-top: -9px;"></div>
        <h5 style="margin-left: 5px; margin-right: 5px;"> ou entre com</h5>
        <div style="background-color: rgb(75, 75, 75); width: 90px; height: 1px; margin-top: -9px;"></div>
   </div>

    <div class="icons">
        <a><i class="fab fa-google fa-2x"></i></a>
        <a><i class="fab fa-facebook fa-2x"></i></a>
        <a><i class="fab fa-linkedin fa-2x"></i></a>
        <a><i class="fab fa-twitter-square fa-2x"></i></a>
    </div>

</span>