@import "~@ng-select/ng-select/themes/default.theme.css";

.conteiner-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 20px;
}
.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 15px;
}
.container-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.container-content .block{
    background-color: #e8e8e8;
    width: 400px;
    height: 400px;
    box-shadow: 5px 10px 0px 0px #4465be;
    justify-content: center;
    align-items: center;
}
.container-content .block .conteudo .name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-content .block .conteudo .email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container-content .block .conteudo .password{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container-content .block .conteudo .c-password{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.container-content .block .conteudo {
    display: flexbox;
    margin-top: 30px;
    
}
.selection-date-day{
    background-color: white;
    margin-top: 8px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i{
    margin-left: 5px;
    color: rgb(77, 77, 77);
    margin-right: 5px;
    margin-block-end: 30px;
}
.container-content .block .conteudo .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.btn{
    background: #396bde;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    border: 0px;
} 

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.write{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    font-size: 14px;
}