<div class="container">
    <div class="entryItem">
        <h1>Conheça os Projetos <br>
            dos Alunos
        </h1>
        <h3>Conheça os projetos de vários alunos de diversos cursos. <br>
            O seu projeto pode estar aqui
        </h3>
        <button class="btnEntry">Saiba mais</button>
        <div class="block">
            <div class="content">
                <h1>Atividades Complementares</h1>
                <h3>Acesse cursos e Palestras Gratuitas fornecidas pela faculdade</h3>
                <mat-tab-group class="container-tabs" color="primary">
                    <mat-tab class="content-itens"  label="Tudo"> 
                        <div class="space">
                            <app-content-courses></app-content-courses>
                        </div>
                        <div class="space">
                            <app-content-speeches></app-content-speeches>
                        </div>
                        <div class="space">
                            <app-content-languages></app-content-languages>
                        </div>
                    </mat-tab>
                    <mat-tab class="content-itens"  label="Cursos"><app-content-courses></app-content-courses></mat-tab>
                    <mat-tab class="content-itens"  label="Palestras"> <app-content-speeches></app-content-speeches> </mat-tab>
                    <mat-tab class="content-itens"  label="Idiomas"> <app-content-languages></app-content-languages> </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
    <img src="../assets/images/fundoHome.jpg" alt="">
</div>