<div class="container">
    <div class="entryItem">
        <h1>Conheça os Projetos <br>
            dos Alunos
        </h1>
        <h3>Conheça os projetos de vários alunos de diversos cursos. <br>
            O seu projeto pode estar aqui
        </h3>
        <button class="btnEntry">Saiba mais</button>
        <div class="block">
            <div class="content">
                <h1>Atividades Complementares</h1>
                <h3>Acesse cursos e Palestras Gratuitas fornecidas pela faculdade</h3>
            </div>
        </div>
    </div>
    <img src="../assets/images/fundoHome.jpg" alt="">
</div>