<div class="container">
    <form [formGroup]="FormLoginUserProf">
        <div class="form-group row">
            <label for="">Usuario:</label><br>
            <input type="text" id="usuario" formControlName="usename" name="data-user" class="control-label small"
                placeholder="Email ou Nome"/>
                <div>
                    <small [hidden]="FormLoginUserProf.controls.usename.valid||FormLoginUserProf.controls.usename.untouched"
                    class="text-danger">*Informar Login</small><br>
                    <br/>
                    <br/>
                </div>
        </div>
        <div class="form-group row">
            <label for="">Senha:</label><br>
            <input type="password" formControlName="password" id="senha" name="password" placeholder="Senha">
            <div>
                <small [hidden]="FormLoginUserProf.controls.password.valid||FormLoginUserProf.controls.password.untouched"
                class="text">*Informar senha</small>
            </div>
           
        </div>
        <br><br>

        <div class="recover-password"><a href="login-page/recover-password"> esqueceu a senha?</a></div>
        <input type="checkbox" class="checkbox">
        <h4>manter conectado</h4><br>
        <div class="container-btn">
            <button [disabled]="!Valid()===true" (click)="onSubmit()" class="btn">Login</button>

        </div>
        <div style="display: flex; margin-top: 20px;">
            <div style="background-color: rgb(75, 75, 75); width: 90px; height: 1px; margin-top: 10px;"></div>
            <h5 style="margin-left: 5px; margin-right: 5px;"> ou entre com</h5>
            <div style="background-color: rgb(75, 75, 75); width: 90px; height: 1px; margin-top: 10px;"></div>
        </div>
        <div class="icons">
            <a><i class="fab fa-google fa-2x"></i></a>
            <a><i class="fab fa-facebook fa-2x"></i></a>
            <a><i class="fab fa-linkedin fa-2x"></i></a>
            <a><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
    </form>
</div>